<div id = "LOCAL_TIME"></div>

<script>
  var start = new Date('7/1/2022 9:00:00 AM EDT');
  var end = new Date('7/1/2022 5:00:00 PM EDT');
  var localTime = start.toLocaleTimeString([], {timeStyle: 'short'}) + " to " + end.toLocaleTimeString([], {timeStyle: 'short'});
  var startString = "The workshop will run from 9:00 AM to 5:00 PM EDT (New York Time) which is "
  var endString = " in your local timezone (according to your computer system time)."
  document.getElementById('LOCAL_TIME').innerHTML = startString + localTime + endString;
</script>