<div id = "LOCAL_TIME"></div>

<script>
  var start = new Date('{{ site.data.settings.workshop_date_short }} {{ site.data.settings.start_time }} {{ site.data.settings.time_zone }}');
  var end = new Date('{{ site.data.settings.workshop_date_short }} {{ site.data.settings.end_time }} {{ site.data.settings.time_zone }}');
  var localTime = start.toLocaleTimeString([], {timeStyle: 'short'}) + " to " + end.toLocaleTimeString([], {timeStyle: 'short'});
  var startString = "The workshop will run from {{ site.data.settings.start_time }} to {{ site.data.settings.end_time }} {{ site.data.settings.time_zone_long }} which is "
  var endString = " in your local timezone (according to your computer system time)."
  document.getElementById('LOCAL_TIME').innerHTML = startString + localTime + endString;
</script>